@charset "utf-8";
/* CSS Document */
*
{
margin:0px;
padding:0px;
}
body
{

}
#wrap
{
float:left;
width:1350px;
height:950px;
}
#header
{
float:left;
width:1350px;
height:80px;
background-color:#0033CC;
}
#Determinents
{
float:left;
width:1350px;
height:30px;
background-color:#0099FF;
}
#box
{
float:left;
margin-left:20px;
width:310px;
height:180px;
background-color:#CCCCCC;
border:#666666 groove 2px;
margin-top:10px;
}
#mid
{
float:left;
height:160px;
width:100%;
}
#input_div
{
float:left;
margin-top:10px;
width:310px;
height:80px;
}
#input_box
{
float:left;
width:310px;
background-color:#CCCCCC;
border:#666666 groove 2px;

}
.hid_details1
{
float:left;
margin-top:0px;
width:314px;
height:80px;
background-color:#3399FF;
display:none;
}
.hid_details2
{
float:left;

margin-top:0px;
width:314px;
height:80px;
background-color:#3399FF;
display:none;
}
.hid_details3
{
float:left;

margin-top:0px;
width:314px;
height:80px;
background-color:#3399FF;
display:none;
}
.output_details
{
float:left;
margin-top:0px;
width:314px;
height:80px;
background-color:#3399FF;
display:none;
}
#rule_base_update
{
float:left;
width:1312px;
height:100px;
margin-left:20px;
background-color:#CCCCCC;
border:#333333 groove 2px;
z-index:-10;
position:relative;

}
#workview
{
float:left;
width:1312px;
height:300px;
margin-left:20px;

border:#333333 groove 2px;
margin-top:10px;
overflow:scroll;
}
/*---------------------------------------------------------parental page----------------------------------------------------------------------*/

#head
{
float:left;
width:100%;
height:100px;
background-color:#0033CC;
}
#Deter
{
float:left;
width:100%;
height:30px;
background-color:#0099FF;
}
#content
{
float:left;
width:98%;
height:555px;
margin-left:2%;
}
#part1
{
float:left;
height:100%;
width:25%;

}
#part2
{
float:left;
height:100%;
width:25%;
}
#part3
{
float:left;
height:100%;
width:25%;
}
#part4
{
float:left;
height:100%;
width:25%;
}
#workview_parental
{
width:70%;
height:300px;
position:absolute;
left:47px;
top:360px;


border:#333333 groove 2px;
overflow:scroll;
}